@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand: #a3e635;
  --color-brand-hover: #84cc16;
}

@layer base {
  body {
    @apply bg-neutral-950 text-white font-sans antialiased;
  }
}
